<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalc" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Calc/Calc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICalc" contract="proxy.ICalc"
                name="WSHttpBinding_ICalc">
                <identity>
                    <userPrincipalName value="AAM-ASUS\aam" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>